django-crispy-forms
requests
six
crispy-bootstrap-4
asgiref
charset-normalizer
sqlparse
typing_extensions
urllib3
whitenoise
requests-oauthlib
s3transfer
defusedxml
dj-database-url
Django
django-allauth
django-crispy-forms
django-storages
gunicorn
idna
jmespath
oauthlib
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-dotenv
python-magic
python3-openid
