{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
   <input type = "radio" name="photos" id="checkbox1" checked>
    <input type = "radio" name="Videos" id="checkbox2">
    <input type = "radio" name="audios" id="checkbox3">
    <input type = "radio" name="pdfs" id="checkbox4">

<div class="container">
    <h1>File Library</h1>
    <div class="top-content">
        <h3>File Gallery</h3>
        <label for="checkbox1">Photos</label>
        <label for="checkbox2">Videos</label>
        <label for="checkbox3">Audio</label>
        <label for="checkbox4">PDFs</label>
    </div>

<div class="file-gallery">
    {% for file in files %}
    {% if file.file_type == "image" %}
    <div class="file-library" data-category="photos">
        <div class="card">
            <div class="card-content">
                <h4>{{ file.title }}</h4>
                <p>{{ file.description }}</p>
            </div>
            <div class="card-actions">
                <a href="{% url 'file-download' file.id %}"> 
                <button class="btn btn-light">
                <i class="fas fa-download"></i>Download</button>
                </a>
                <a href="{% url 'email-form' file.id %}" class="no-underline">
                    <button class="btn btn-light">
                    <i class="fa fa-paper-plane"></i>Send
                    </button>
                </a>
                <a href="{% url 'file-preview' file.id %}" class="no-underline " target="_blank">
                    <button class="btn btn-light">
                        <i class="fa fa-file"></i>Preview</button>
                </a>
            </div>
        </div>
    </div>

{% elif file.file_type == "video" %}
<div class="file-library" data-category="videos">
    <div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div class="card-actions">
            <a href="{% url 'file-download' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'email-form' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-paper-plane"></i>Send
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline " target="_blank">
                <button class="btn btn-light">
                    <i class="fa fa-file"></i>Preview</button>
            </a>
        </div>
    </div>
</div>

{% elif file.file_type == "pdf" %}
<div class="file-library" data-category="pdfs">
    <div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div id = "pdf-container" class="card-actions">
            <a href="{% url 'file-download' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'email-form' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-paper-plane"></i>Send
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline" target="_blank">
                <button class="btn btn-light">
                    <i class="fa fa-file"></i>Preview</button>
            </a>
        </div>
    </div>
</div>

{% else %}
<div class="file-library" data-category="audios">
<div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div class="card-actions">
            <a href="{% url 'file-download' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'email-form' file.id %}" class="no-underline">
                <button class="btn btn-light">
                    <i class="fa fa-paper-plane"></i>Send
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline" >
                <button class="btn btn-light">
                    <i class="fa fa-file"></i>Preview</button>
            </a>
        </div>
    </div>
</div> 

        {% endif %}
        {% endfor %}
    </div>
</div>

<script src ="{% static 'main/file_link.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src = "{% static 'build/pdf.js' %}"></script>
<script src = "{% static 'web/viewer.js' %}"></script>
<script>
    $(document).ready(function () {
        $("label[for='checkbox1']").click(function () {
            var category = "photos";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox2']").click(function () {
            var category = "videos";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox3']").click(function () {
            var category = "audios";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox4']").click(function () {
            var category = "pdfs";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });
    });

{% comment %} Handling Pdf Preview {% endcomment %}

// Get the Container Element
var container = document.getElementById("pdf-container");

// Configure the Viewer Options
var viewerOptions = {
    container: container
};

// Get the file path from the Django template variable
var filePath = "{{ file_path }}";

// Load the PDF file
PDFViewerApplication.open(filePath, viewerOptions);


</script>  
{% endblock content %}