{% extends 'main/base.html' %}
{% load static %}


{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
   <input type = "radio" name="photos" id="checkbox1" checked>
    <input type = "radio" name="Videos" id="checkbox2">
    <input type = "radio" name="audios" id="checkbox3">
    <input type = "radio" name="pdfs" id="checkbox4">

<div class="container">
    <h1>File Library</h1>
    <div class="top-content">
        <h3>File Gallery</h3>
        <label for="checkbox1">Photos</label>
        <label for="checkbox2">Videos</label>
        <label for="checkbox3">Audio</label>
        <label for="checkbox4">PDFs</label>
    </div>

    <div class="file-gallery">
        {% for file in files %}
        {% if file.file_type == "image" %}
        <div class="file-library" data-category="photos">
            <div class="card">
                <div class="card-content">
                    <h4>{{ file.title }}</h4>
                    <p>{{ file.description }}</p>
                </div>
                <div class="card-actions">
                    <a>
                    <button class="btn-download">
                        <i class="fas fa-download"></i>Download</button>
                    </a>
                    <a href="{% url 'file-preview' file.id %}" class="no-underline" target="_blank">
                    <button class="btn-details">
                        <i class="fas fa-info-circle"></i>Preview</button>
                    </a>
                </div>
            </div>
        </div>

        {% elif file.file_type == "video" %}
<div class="file-library" data-category="videos">
    <div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div class="card-actions">
            <a href="{{ file.file_url }}" class="no-underline" target="_blank">
                <button class="btn-download">
                    <i class="fas fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline" target="_blank">
                <button class="btn-details">
                    <i class="fas fa-info-circle"></i>Preview
                </button>
            </a>
        </div>
    </div>
</div>

        {% elif file.file_type == "pdf" %}
<div class="file-library" data-category="pdfs">
    <div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div class="card-actions">
            <a href="{{ file.file_url }}" class="no-underline" target="_blank">
                <button class="btn-download">
                    <i class="fas fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline" target="_blank">
                <button class="btn-details">
                    <i class="fas fa-info-circle"></i>Preview
                </button>
            </a>
        </div>
    </div>
</div>

{% else %}
<div class="file-library" data-category="audios">
    <div class="card">
        <div class="card-content">
            <h4>{{ file.title }}</h4>
            <p>{{ file.description }}</p>
        </div>
        <div class="card-actions">
            <a href="{{ file.file_url }}" class="no-underline" target="_blank">
                <button class="btn-download">
                    <i class="fas fa-download"></i>Download
                </button>
            </a>
            <a href="{% url 'file-preview' file.id %}" class="no-underline" target="_blank">
                <button class="btn-details">
                    <i class="fas fa-info-circle"></i>Preview
                </button>
            </a>
        </div>
    </div>
</div>

        {% endif %}
        {% endfor %}
    </div>
</div>

<script src="{% static 'fa/js/all.min.js' %}"></script>
<script src ="{% static 'main/file_link.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script>
    $(document).ready(function () {
        $("label[for='checkbox1']").click(function () {
            var category = "photos";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox2']").click(function () {
            var category = "videos";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox3']").click(function () {
            var category = "audios";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });

        $("label[for='checkbox4']").click(function () {
            var category = "pdfs";
            $(".file-library").hide();
            $(".file-library[data-category='" + category + "']").show();
        });
    });

    $(document).ready(function() {
        $('.btn-details').click(function(e) {
          e.preventDefault(); // Prevent the default button behavior
      
          var fileUrl = $(this).parent().attr('href');
          var imgTag = $('<img>').attr('src', fileUrl).attr('alt', 'Preview Image').addClass('preview-image');
      
          // Create a container div for the preview image and download button
          var container = $('<div>').addClass('preview-container');
          container.append(imgTag);
      
          // Append the container to the parent of the button
          $(this).parent().append(container);
          
          var newWindow = window.open('', '_blank');
          newWindow.document.write('<html><head><title>Image Preview</title>');
          newWindow.document.write('<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">');
          newWindow.document.write('</head><body><div class="preview-window"></div></body></html>');
          newWindow.document.querySelector('.preview-window').appendChild(container[0]);
      
          // Create the download button and append it to the container
          var downloadBtn = $('<a>').attr('href', fileUrl).addClass('preview-download-btn').text('Download');
          container.append(downloadBtn);
        });
      });
      
      $(document).ready(function() {
        $('.btn-details').click(function(e) {
          e.preventDefault(); // Prevent the default button behavior
      
          var fileUrl = $(this).parent().attr('href');
          var videoTag = $('<video>').attr('src', fileUrl).attr('controls', 'true').addClass('preview-video');
      
          // Create a container div for the preview video and download button
          var container = $('<div>').addClass('preview-container');
          container.append(videoTag);
      
          // Append the container to the parent of the button
          $(this).parent().append(container);
      
          var newWindow = window.open('', '_blank');
          newWindow.document.write('<html><head><title>Video Preview</title>');
          newWindow.document.write('<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">');
          newWindow.document.write('</head><body><div class="preview-window"></div></body></html>');
          newWindow.document.querySelector('.preview-window').appendChild(container[0]);
      
          // Create the download button and append it to the container
          var downloadBtn = $('<a>').attr('href', fileUrl).addClass('preview-download-btn').text('Download');
          container.append(downloadBtn);
        });
      });
      
      // The script to handle videos
      {% comment %} $(document).ready(function() {
        $('.btn-details').click(function(e) {
          e.preventDefault(); // Prevent the default button behavior
      
          var fileUrl = $(this).parent().attr('href');
          var videoTag = $('<video>').attr('src', fileUrl).attr('controls', 'controls').addClass('preview-video');
      
          // Create a container div for the preview video and download button
          var container = $('<div>').addClass('preview-container');
          container.append(videoTag);
      
          // Append the container to the parent of the button
          $(this).parent().append(container);
      
          var newWindow = window.open('', '_blank');
          newWindow.document.write('<html><head><title>Video Preview</title>');
          newWindow.document.write('<link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">');
          newWindow.document.write('</head><body><div class="preview-window"></div></body></html>');
          newWindow.document.querySelector('.preview-window').appendChild(container[0]);
      
          // Create the download button and append it to the container
          var downloadBtn = $('<a>').attr('href', fileUrl).addClass('preview-download-btn').text('Download');
          container.append(downloadBtn);
        });
      });
       {% endcomment %}
</script> 
{% endblock content %}